.dh-header-non-rectangular-container h1, p {
  /*color: white;*/
  /*font-weight: bold;*/
}

.clearmargin {
  margin: 0px;
}

.clearpadding {
  padding: 0px;
}

.row-image-txt {
}

.row-image-txt h1 {
  color: rgb(0,0,0);
}

.row-image-txt p {
  color: rgb(0,0,0);
}

